<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template "header" .}}
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/qrcode.min.js"></script>
</head>
<body>
<div class="header" xmlns="http://www.w3.org/1999/html">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href=""></a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link"></a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"></a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"></a></li>
        </ul>
    </div>
</div>

<div class="content-wrapper">

    <div class="content ">
        <h2 class="content-head is-center">绑定一次性密码验证器</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1-3"></div>
            <div class="l-box-lrg pure-u-1-3 is-center">
                安全令牌验证 账户 <span style="color: #e9322d; font-size: large"> {{.login_username}} </span> 请按照以下步骤完成绑定操作
            </div>
            <div class="l-box pure-u-1-3"></div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3 is-center">
                <hr>
                <p>
                    <strong style="color: #000000">
                        使用MFA验证器扫描以下二维码
                    </strong>
                </p>
                <div id="qr_code" align="center"></div>
                <div style="display: block; margin: 0">Secret: {{.secret}}</div>
            </div>
            <div class="pure-u-1-3"></div>
        </div>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-5"></div>
            <div class="l-box pure-u-1 pure-u-md-1-5"></div>
            <div class="l-box-lrg pure-u-1 pure-u-md-1-5 is-center">
                <form class="pure-form pure-form-stacked" method="post" action="">
                    <fieldset>

                        <input id="name" name="login_username" type="hidden" value={{.login_username}}>
                        <input id="otp_code" name="otp_code" type="text" required="" autofocus="autofocus"
                               placeholder="6位数字">

                        <button type="submit" class="pure-button" style="width: 100%">下一步</button>
                    </fieldset>
                </form>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-5"></div>
            <div class="l-box pure-u-1 pure-u-md-1-5"></div>
        </div>

    </div>


    <div class="footer l-box is-center">
    </div>

</div>
<script>
    $('.change-color li:eq(1) i').css('color', '#1ab394');
    $('.change-color li:eq(2) i').css('color', '#1ab394');

    $(document).ready(function () {
        // 生成用户绑定otp的二维码
        var qrcode = new QRCode(document.getElementById('qr_code'), {
            text: {{.otpurl}},
            width: 180,
            height: 180,
            colorDark: '#000000',
            colorLight: '#ffffff',
            correctlevel: QRCode.CorrectLevel.H
        });

        document.getElementById('qr_code').removeAttribute("title");
    })

</script>


{{ template "footer" .}}
</body>
</html>
